/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

* {
  background-color: #115ff4;
  padding: 10px;

}

h1 {
  position: absolute;
  top: 5%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  z-index: 5;
}

button {
 position: absolute;
  top: 15%;
  left: 47.5%;
  transform: scale(2);
  background-color: #74119c;
  border-radius: 3px;
  outline-color: none;
  font-size: smallest;
  color: white;
  z-index: 5;
}


table, th, td {
  /* border: 1px solid black; */
  /* table-layout:fixed;;
  grid-auto-columns:auto; */
}

table {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); 
  /* top: 150px;
  left: 400px; */
  /* height: 70vh;
  width: 90vh;
  background-color: #060ce9;*/
  align-content: center;
}

#container th {
  /* top: 50px;
  left: 70%;
  height: 1%;
  text-align: center;
  background-color: #115ff4;
  
  border: 1px solid #ddd; */
  color: white;
  text-transform: capitalize;
}

#container tr {
  /* top: 50px;
  left: 70%;
  height: 40px;
  text-align: center;
  background-color: #115ff4;
  
  border: 1px solid #ddd; */
  color: white;
  text-transform: capitalize;
}

thead {
  /* height: 50px; */
}

td {
    cursor: pointer;
}

#loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: block;
    margin-left:  auto;
    margin-right: auto;
    margin-top: 25%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}




